<!DOCTYPE html>
<html>
  <head>
    <title>课程格子</title>   
  </head>
  <body>
    <h1>课程格子ruby工程师面试题</h1>
    <form action='/submit' method='get'>
      <p>
        <label>请输入数字字符串:</label>
        <input name='number' type='text'>
      </p>
      <p>
        <label>请输入参数m(默认为3):</label>
        <input name='unit' type='text'>
      </p>
      <input type='submit' value='Submit'>
    </form>
    <h1>计数结果:<%= result %></h1>
  </body>
</html>
